<div class="embed-responsive embed-responsive-4by3" style="width: 60vw; height: 60vh">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2fFYObYJG1k?list=PLSfmcHo60bTxQNUUhZBHf3hkaEsNqfi_l"></iframe>
</div>
