<h2 class="bounce_in_left">Learn fast</h2>

<div class="collector_spacing">
  <div class="thumbnail img_1">
    <p>
      Create a list
    </p>
  </div>
</div>

<div class="collector_spacing">
  <div class="thumbnail img_2">
    <p>
      Learn to write
    </p>
  </div>

  <div class="thumbnail img_3">
    <p>
      Play!
    </p>
  </div>
</div>
