<h2>Learn fast</h2>

<div class="col-sm-12 col-md-12">
    <div class="thumbnail img_1">
      <div class="caption">
        Create a list
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail img_2">
      <div class="caption">
        Learn to write
      </div>
    </div>

    <div class="thumbnail img_3">
      <div class="caption">
        Play
      </div>
    </div>
  </div>
