<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover text-center">
    <thead>
      <tr>
        <th class="text-center">English</th>
        <th class="text-center">Chinese Traditional</th>
        <th class="text-center">Chinese Simplified</th>
        <th class="text-center">Pinyin</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>How are you?</td>
        <td>你好嗎？</td>
        <td>你好吗？</td>
        <td>Nǐ hǎo ma?</td>
      </tr>

      <tr>
        <td>Happy birthday</td>
        <td>生日快樂</td>
        <td>生日快乐</td>
        <td>Shēngrì kuàilè</td>
      </tr>

      <tr>
        <td>I will fight you to the death</td>
        <td>大死你</td>
        <td>大死你</td>
        <td>Dà sǐ nǐ</td>
      </tr>

      <tr>
        <td>No problem</td>
        <td>沒關係</td>
        <td>没关系</td>
        <td>Méiguānxì</td>
      </tr>

      <tr>
        <td>Where is the bathroom?</td>
        <td>廁所在哪裡？</td>
        <td>厕所在哪里？</td>
        <td>Cèsuǒ zài nǎlǐ?</td>
      </tr>

      <tr>
        <td>What have you been doing recently?</td>
        <td>你最近做什麼？</td>
        <td>你最近做什么？</td>
        <td>Nǐ zuìjìn zuò shénme?</td>
      </tr>

      <tr>
        <td>What are you doing today?</td>
        <td>你今天做什麼？</td>
        <td>你今天做什么？</td>
        <td>Nǐ jīntiān zuò shénme?</td>
      </tr>

      <tr>
        <td>Have you eaten?</td>
        <td>你吃飯了嗎</td>
        <td>你吃饭了吗</td>
        <td>Nǐ chīfàn le ma?</td>
      </tr>

      <tr>
        <td>Do you like peanut butter?</td>
        <td>你喜歡花生醬嗎?</td>
        <td>你喜欢花生酱吗?</td>
        <td>Nǐ xǐhuān huāshēngjiàng ma?</td>
      </tr>

      <tr>
        <td>The usual (for ordering)</td>
        <td>一樣的</td>
        <td>一样的</td>
        <td>Yīyàng de</td>
      </tr>

      <tr>
        <td>How much is it?</td>
        <td>多少錢?</td>
        <td>多少钱?</td>
        <td>Duōshǎo qián</td>
      </tr>

      <tr>
        <td>Nice to meet you</td>
        <td>很高興認識你</td>
        <td>很高兴认识你</td>
        <td>Hěn gāoxìng rènshí nǐ</td>
      </tr>

      <tr>
        <td>I don't understand</td>
        <td>我聽不懂</td>
        <td>我听不懂</td>
        <td>Wǒ tīng bù dǒng</td>
      </tr>

      <tr>
        <td>What time is it?</td>
        <td>現在是幾點?</td>
        <td>现在是几点?</td>
        <td>Xiànzài shì jǐ diǎn?</td>
      </tr>

      <tr>
        <td>You're welcome</td>
        <td>不客氣</td>
        <td>不客气</td>
        <td>Bù kèqì</td>
      </tr>
    </tbody>
  </table>
</div>
