<p>Resources Go Here</p>

<div class="collector">
  <div class="resource1"></div>
  <div class="resource2"></div>
  <div class="resource3"></div>
  <div class="resource4"></div>
  <div class="resource5"></div>
  <div class="resource6"></div>
  <div class="resource7"></div>
  <div class="resource8"></div>
  <div class="resource9"></div>
</div>
