<ol>
  <li>Left to right</li>
  <li>Top to bottom</li>
  <li>Horizontal before vertical when crossing</li>
  <li>Character-spanning lines last</li>
  <li>Diagonals: right-to-left before left-to-right</li>
  <li>Center before symmetrical side strokes</li>
  <li>Horizontal before left-falling diagonals</li>
  <li>Outside to inside if open at the bottom </li>
  <li>Inside to outside if open at the top</li>
  <li>Left vertical before enclosing</li>
  <li>Dots: top left / middle first; top right / inside last</li>
</ol>
