<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <ul class="list-group">
        <li class="list-group-item">
          Left to right
          <span class="pull-right">ANIMATED GIF HERE</span>
        </li>
        <li class="list-group-item">Top to bottom</li>
        <li class="list-group-item">Horizontal before vertical when crossing</li>
        <li class="list-group-item">Character-spanning lines last</li>
        <li class="list-group-item">Diagonals: right-to-left before left-to-right</li>
        <li class="list-group-item">Center before symmetrical side strokes</li>
        <li class="list-group-item">Horizontal before left-falling diagonals</li>
        <li class="list-group-item">Outside to inside if open at the bottom </li>
        <li class="list-group-item">Inside to outside if open at the top</li>
        <li class="list-group-item">Left vertical before enclosing</li>
        <li class="list-group-item">Dots: top left / middle first; top right / inside last</li>
      </ol>
    </div>
  </div>
</div>
