#board {
	background: lime;
  border-radius: 14px;
	margin: 0px auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#board > div {
	background-image: image-url("1.jpg");
	border: 2px solid black;
  border-radius: 8px;
	height: 100px;
	width: 80px;
	margin: 5px;
	padding: 5px;
	font-size: 24px;
	text-align: center;
  cursor: pointer;
	z-index: 2;
	color: black;
}

#board > div.card-flipped {
  background: lightblue;
}

.info {
	color: $brand-primary;
	font-size: 24px;
	font-weight: bold;
}

#english {
	padding-left: 10px;
	color: lime;
	font-size: 16px;
}
