.thumb img {
	border: 1px solid #000;
	height: 52px;
	width: 52px;
}

.thumb img {
	opacity: 0.0;
}

.thumb:hover img {
	opacity: 1.0;
	z-index: 1;
}

.thumb div, .thumb div div {
	font-weight: bold;
	color: black;
}
